@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    caret-color: black;
}
body {
    margin: 0;
    padding: 0;
}
nav {
    background-color: bisque;
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100vw;
}
nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}
nav ul li {
    margin-right: 25px;
    font-size: 20px;
}
.lis-image {
    width: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 0;
}
.nav-left {
    flex: 50%;
}
.nav-right {
    flex: 50%;
    text-align: end;
    margin-right: 25px;
}
.nav-right a {
    background-color: orangered;
    padding: 8px 25px;
    color: white;
    border-radius: 5px;
}
#barsmenu {
    display: flex;
}
.hamburger-nav-container {
    font-size: 23px;
    list-style-type: none;
    display: none;
    width: 100%;
}
.hamburger-nav-container a {
    text-decoration: none;
    background-color: #9a9a9a;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #fff;
}
.hamburger-nav-container .hamburger-active {
    text-decoration: none;
    background-color: orangered;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #fff;
}
.ilang {
    display: none;
    margin-right: 25px;
}

@media only screen and (max-width: 900px) {
    .hilang {
        display: none;
    }
    .ilang {
        display: flex;
    }
}
@media only screen and (max-width: 700px) {
    .testimonial {
        width: 100%;
    }
}
@media only screen and (max-width: 550px) {
    .testimonial {
        display: none;
    }



}